body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

div{
    position: relative;
}

p{
    position: absolute;
    z-index: 10;
    color: white;
    left: 10px;
    top: 1opx;
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    padding: 5px;

}