body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(assests/bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}

div{
    position: relative;
}

p{
    position: absolute;
    z-index: 10;
    color: white;
    left: 10px;
    top: 1opx;
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    padding: 5px;

}

.startScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}


#btn {
    display: inline-block;
    margin-right: 50px; 
    margin-bottom: 20px;
    padding: 15px;
    font-size: 1.5em; 
    text-align: center;
    text-decoration: none; 
    background-color: #11c125; 
    color: #fff; 
    border: 2px solid #12892a;
    border-radius: 5px; 
    transition: background-color 0.3s, color 0.3s; 
    font-weight: 500;
    
}

#btn:hover {
    background-color: #18a711;
    color: #eee; 
    transform: scale(1.03);
}

#restartScreen{
    position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: url('assests/losebg.png');
          z-index: 20;
          background-size:contain;
          background-position: center;
          display: none;
          align-items: center;
          justify-content: center;
}

#restartBtn{
    padding: 15px;
    display: inline-block;
    margin-top: 15px;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none; 
    background-color: #156bdc; 
    color: #fff; 
    border: 2px solid #0d4985;
    border-radius: 5px; 
    transition: background-color 0.3s, color 0.3s; 
    font-weight: 500;
}

#restartBtn:hover {
    background-color: #114ba7;
    color: #eee; 
    transform: scale(1.03);
}